body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  margin-bottom: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url("../images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 3%;
  width: 180px;
  height: 27px;
}

.tryButton {
  margin: 3%;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 5px hsl(208, 11%, 55%);
}

.headerContent {
  margin: 0 5%;
  padding-bottom: 5%;
}

.titleText {
  flex: 1 1 30%;
  width: 30%;
  height: 30%;
}

.getStartedButton {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  width: 50%;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  margin-top: 1em;
}

.titleImage {
  flex: 1 1 50%;
  padding-left: 5%;
  width: 50%;
  height: 50%;
}
